{% extends "base.html" %}
{% block title %}
Об авторе проекта
{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Об авторе</h1>
  <div class="h-100 p-5 bg-light border rounded-3">
    <h2>Текст сгенерирован при помощи нейросети ChatGPT</h2>
    <p>
    <ol type="1">
      <li>
        Начало карьеры: Я начал свою карьеру в маленькой IT-компании, где занимался разработкой веб-приложений.
        Благодаря своей усердной работе и умению быстро осваивать новые технологии, я вскоре приобрел признание коллег и
        руководства.
      </li>
      <li>
        Рост в карьере: После нескольких лет успешной работы в этой компании, я перешел в более крупную компанию, где
        получил возможность работать над более сложными проектами и взаимодействовать с клиентами из разных стран. Я
        продолжал учиться и развиваться, что привело к увеличению моей компетентности и профессионального статуса.
      </li>
      <li>
        Текущее место работы: В настоящее время я являюсь ведущим разработчиком в крупной международной компании, где
        занимаюсь руководством командой разработчиков и участием в крупных проектах. Я по-прежнему увлеченно интересуюсь
        развитием технологий и стремлюсь улучшать свои навыки, чтобы быть всегда в тренде и предлагать лучшие решения
        для наших клиентов.
      </li>
    </ol>
    </p>
  </div>
</div>
{% endblock %}