{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Технологии</h1>
  <div class="h-100 p-5 bg-light border rounded-3">
    <div class="row">
      <h2>Вот что я умею</h2>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://www.python.org/">python</a>
          </li>
          <li class="list-group-item">
            <a href="https://www.djangoproject.com/">django</a>
          </li>
          <li class="list-group-item">
            <a href="https://www.sqlite.org/">sqlite</a>
          </li>
          <li class="list-group-item">
            <a href="https://www.embarcadero.com/ru/products/delphi">delphi</a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>А буду уметь еще больше и зарабатывать много денег)</p>
      </article>
    </div>
  </div>
</div>
{% endblock %}